.btn-google{
color:#fff !important; background-color: #ea4335 !important; 
}
.btn-facebook{
color:#fff !important; background-color: #3b5998 !important;
}
.btn-user{
    font-size: .8rem; 
    border-radius: 10rem;
    padding:.75rem 1rem;
}
.btn-block{
display:block; width:100%;
}