

<div w3-include-html="http://localhost:8282/include/header.html"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
<h1 class="mt67 mb-3">create</h1>  
<form method="POST" class="was-validated">  
<p class="mb-3">제목 : <input type="text" name="title" class="form-control" required/></p>  
<p class="mb-3">가격 : <input type="text" name="price" class="form-control" required/></p>  
<div class="d-flex justify-content-end mt-4 mb-2">
    <input type="submit" value="저장" class="btn btn-outline-success btn-lg"/>
</div>

</form> 
        </div>
    </div>
</div>
 

<div w3-include-html="http://localhost:8282/include/footer.html"></div>
<script src="http://localhost:8282/js/js.js"></script>
<script>
includeHTML();//함수실행명령
</script>
